body{
    margin:5px;
    padding:5px;
    line-height:1.15;
}

h1,h2,h3{
    font-weight:bold;
    margin-top:15px;
}

ul li {
    display:inline-block;
    margin-left:35px;
    list-style-type:upper-roman;
    border: radius 6%;
    border-width: 6px;
    border-style: solid;
    border-color:blueviolet;
    background-color:lightblue;
}


main img {
    display: inline-block;
    width:24%;
    padding:20px;;
    border-radius:25%;
    border-width:6px;
    border-style: solid;
    border-color:purple;

}
